@import "variables.scss";
@import "mixins.scss";

body {
  @include boxsizing;
}

.weekFour {
  .main-container {
    background-color: $white;
    margin: $display-auto;
    position: relative;
    height: $main-height;
    width: $main-width;
  }

  .art-container {
    display: block;
    height: $full-height;
    margin: $display-auto;
    margin-top: 68px;
    width: $main-width - 10;

    .week {
      @include week;
    }

    .quote {
      color: $near-black;
      font-family: $open-sans;
      font-size: 40px;
      margin-top: 250px;
      line-height: 35px;
      text-align: $text-align-center;

      .whooshing {
        color: $whooshing;
        font-family: $abril;
      }
    }

    .author {
      color: $whooshing;
      font-size: 10px;
      margin-top: 10px;
      text-align: center;
    }
  }

  .design-info {
    background-color: $pretty-pink;
    color: $white;
    font-family: $noto-sans;
    position: absolute;
    line-height: 25px;
    padding: 10px 0px;
    text-align: $text-align-center;
    width: $main-width;

    .date {
      font-size: 12px;
    }
  }
}
